div.sell{
    width: 100%;
    height: 270px;
    text-align: center;
}
div.sell2{
    width: 99%;
    margin: 0 auto;

}
div.sell>div.sell2>div{
    display: inline-block;
    width: 23%;
    margin: 25px 10px 0 10px;
    border-radius: 15px;
}
div.sell>div.sell2>div>a{
    display: block;
    width: 100%;
    height: 100%;
}
div.sell>div.sell2>div>a>img{
    width: 100%;
    border-radius: 15px;
}